---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ADIR LANDES">
	<main>
		<div id="imageIdDesktop" class="image-desktop-styled"></div>
		<div id="imageIdMobile" class="image-mobile-styled"></div>
	</main>

	<script>
		const divDesktop = document.getElementById("imageIdDesktop");
		const divMobile = document.getElementById("imageIdMobile");

		// Add your images here
		// Any new images should be named sequentially, and make sure to add commas after each line
		const desktopImages = [
			"images/desktop/1.jpg",
			"images/desktop/2.jpg",
			"images/desktop/3.jpg",
			"images/desktop/4.jpg",
			"images/desktop/5.jpg",
			"images/desktop/6.jpg",
			"images/desktop/7.jpg",
		];
		const mobileImages = [
			"images/mobile/1.jpg",
			"images/mobile/2.jpg",
			"images/mobile/3.jpg",
			"images/mobile/4.jpg",
			"images/mobile/5.jpg",
			"images/mobile/6.jpg",
			"images/mobile/7.jpg",
		];

		window.setInterval(changePicture, 4000);
		let i = 0;
		function changePicture() {
			i++;
			if (i > desktopImages.length - 1) i = 0;
			divDesktop.style.backgroundImage = `url(${desktopImages[i]})`;
			divMobile.style.backgroundImage = `url(${mobileImages[i]})`;
		}
	</script>
</Layout>

<style>
	@media only screen and (max-width: 600px) {	
		#imageIdDesktop {
			display: none;
		}
	}
	@media only screen and (min-width: 601px) {	
		#imageIdMobile {
			display: none;
		}
	}
	body, html {
		height: 100vh;
		width: 100vw;
		max-height: 100vh;
		max-width: 100vw;
		overflow: hidden;
	}
	.image-desktop-styled {
		background-position: center;
		background-size: cover;
		background-position-x: 0;
		background-image: url("/images/desktop/1.jpg");
		display: flex;
		height: 100vh;
		width: 100vw;
		transition: background 0.15s ease-in;
	}
	.image-mobile-styled {
		background-position: center;
		background-size: cover;
		background-position-x: 0;
		background-image: url("/images/mobile/1.jpg");
		display: flex;
		height: 100vh;
		width: 100vw;
		transition: background 0.15s ease-in;
	}
	main {
		height: 100%;
	}
	@media only screen and (max-aspect-ratio: 16/9) {
		main {
			height: 100%;
			margin: 0 auto;
			display: flex;
  		justify-content: center;
		}
		img {
			margin: auto;
  		display: block;
		}
	}
	img {
		object-fit: cover;
		max-height: 100vh;
		max-width: 100vw;
	}
</style>